# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
Angular/dist
Angular/tmp
Angular/out-tsc
Angular/bazel-out

# Node
Angular/node_modules
Angular/npm-debug.log
yarn-error.log

# Rails temp files
rails-api/tmp/
rails-api/log/
rails-api/public/assets/
rails-api/storage/
rails-api/db/*.sqlite3
rails-api/db/*.sqlite3-journal

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
Angular/.vscode/*
Angular/!.vscode/settings.json
Angular/!.vscode/tasks.json
Angular/!.vscode/launch.json
Angular/!.vscode/extensions.json
Angular/.history/*

# Miscellaneous
Angular/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

#files within which are personal or not ready to be implemented
rails-api/db/jaxBrain.json
rails-api/db/schedule.json