<!-- 
TODO:
	implement each button and make it make sense
	plan how a decent flow is that's logical
	Schedule Component: 
On naming event make sure we can pull different props of available events on look up.
Ability to schedule x amount (seconds, minutes, hours, days, months, years, decades) of time from x date, whether or not its recurring based on daily, weekly, monthly (number), x months, yearly (month,day). Within a group. Reminders (use toast). 
Start time - end time

The dropdown: view events for day, add event, remove event, remove all events (if available) look into nested drop downs and styling it so it doesn't look like dog shit


-->

<ng-template #addUpdateEvent let-modal>
	<div class="modal-header">
		<h4 class="modal-title">{{this.eventForm.get('title')?.value}} ({{event.date}})</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click'); resetForm()"></button>
	</div>
	<div class="modal-body justify-center">
		<form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
			<div style="display: flex;">
				<input [(colorPicker)]="color" [style.background]="color" style="width: 20px; border: 1px dashed black; border-radius: 10%;"/>
				<input type="text" class="w-full" placeholder="Title*" id="title" formControlName="title" required/>
				<input type="month" placeholder="Location" id="location" formControlName="location"/><!-- ability to choose your own location or on a map -->
				<button class="buttonFull">Map</button>
			</div>
			<textarea style="width: 100%; overflow-y: scroll; height: 150px;" type="text" placeholder="Description" id="description" formControlName="description"></textarea>
			<hr/>
			All Day?* <input type="checkbox" formControlName="isAllDay"/>
			<!-- timeInputContainerDiv will be in clock / time picker component -->
			<div class="timeInputContainer" *ngIf="!eventForm.get('isAllDay')?.value">
				<div class="timeFromContainer">
					<p style="padding-top: 5px;">*From : &nbsp;</p>
					<input class="timeInput" id="hourFrom" formControlName="hourFrom" type="number" min="0" max="23"  placeholder="HH" (click)="setActiveHour('From')" [ngStyle]="{'border': activeHour === 'From' ? '3px solid skyblue' : ''}"/>
					<p>&nbsp;:&nbsp;</p>
					<input class="timeInput" id="minuteFrom" formControlName="minuteFrom" type="number" min="0" max="59"  placeholder="MM" (click)="setActiveMinute('From')" [ngStyle]="{'border': activeMinute === 'From' ? '3px solid skyblue' : ''}"/>
				</div>
				<div class="timeToContainer">
					<p style="padding-top: 5px;">*To : &nbsp;</p>
					<input class="timeInput" id="hourTo" formControlName="hourTo" type="number" min="0" max="23"  placeholder="HH" (click)="setActiveHour('To')" [ngStyle]="{'border': activeHour === 'To' ? '3px solid skyblue' : ''}"/>
					<p>&nbsp;:&nbsp;</p>
					<input class="timeInput" id="minuteTo" formControlName="minuteTo" type="number" min="0" max="59"  placeholder="MM" (click)="setActiveMinute('To')" [ngStyle]="{'border': activeMinute === 'To' ? '3px solid skyblue' : ''}"/>
				</div>
			</div>
			<div class="timePickerContainer" *ngIf="!eventForm.get('isAllDay')?.value" [style.height.px]="clockHeight">
				<div class="clock-container">
					<div class="hour-numbers">
						<div *ngFor="let number of hourNumbers" class="hour-number" [ngStyle]="{'transform': 'rotate(' + number.deg + 'deg) translateY(-' + radiusHour + 'px)'}" (click)="insertHour($event)">{{number.label}}</div>
					</div>
					<div class="minute-numbers">
						<div *ngFor="let number of minuteNumbers" class="minute-number" [ngStyle]="{'transform': 'rotate(' + number.deg + 'deg) translateY(-' + radiusMinute + 'px)'}" (click)="insertMinute($event)">{{number.label}}</div>
					</div>
				</div>	
			</div>
			<hr/>
			<p>Reccuring? <input type="checkbox"  formControlName="isRecurring"/>&nbsp;<select [disabled]="!eventForm.get('isRecurring')?.value" (change)="setRecurringType($event)">
				<option value="1" selected>Everyday</option>
				<option value="2">Weekday</option>
				<option value="3">Custom</option>
			</select></p>
			<div *ngIf="reccuringType == '1'">
	
			</div>
			<div *ngIf="reccuringType === '2' && eventForm.get('isRecurring')?.value">
				Every &nbsp;
				<select id="recurrenceWeekday">
					<option value="Sunday">Sunday</option>
					<option value="Monday">Monday</option>
					<option value="Tuesday">Tuesday</option>
					<option value="Wednesday">Wednesday</option>
					<option value="Thursday">Thursday</option>
					<option value="Friday">Friday</option>
					<option value="Saturday">Saturday</option>
				  </select>
			</div>
			<div *ngIf="reccuringType == '3' && eventForm.get('isRecurring')?.value">
				<span>Every &nbsp;</span>
				<input type="number" id="recurrenceCustomValue" />&nbsp;<select id="recurrenceCustomType">
					<option>seconds</option>
					<option>Hours</option>
					<option selected>Days</option>
					<option>Months</option>
					<option>Years</option>
				</select>
			</div>
			<hr/>
			<div>
				<div formArrayName="reminders">
					<div *ngFor="let reminder of reminders.controls; let i = index" [formGroupName]="i">
					  <input type="number" formControlName="amount" placeholder="Amount" />
					  <select formControlName="unit">
						<option>seconds</option>
						<option>Hours</option>
						<option>Days</option>
						<option>Months</option>
						<option>Years</option>
					  </select>
					  <button type="button" class="btn btn-danger" (click)="removeReminder(i)" style="margin-left: 5px;">Remove</button>
					  <hr/>
					</div>
				  </div>
				  <button type="button" (click)="addReminder()">Add Reminder</button>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Cancel</button>
		<button type="submit" class="btn btn-primary" [disabled]="checkValidation()" (click)="onSubmit(true)" *ngIf="event.exists">Update Event</button>
		<button type="submit" class="btn btn-primary" [disabled]="checkValidation()" (click)="onSubmit()" *ngIf="!event.exists">Add Event</button>
	</div>
</ng-template>

<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title">{{event.title}} | {{event.date}}</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<div style="display: flex; justify-content: space-evenly;">
			<p *ngIf="!event.isAllDay" style="border: 1px black solid; border-radius: 5px;">{{event.startTime}}-{{event.endTime}}</p>
			<p *ngIf="event.location.length > 0" style="border: 1px black solid; border-radius: 5px;">{{event.location}}</p>

		</div>
		<p>{{event.desc}}</p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
	</div>
</ng-template>

<div class="calendar-container">
	<div class="top-display-container">
	  <div>
		<div class="topDisplay">
			<button (click)="changeMonth(-1)" class="buttonFull">←</button>
			<span></span>
			<select >
				<option selected>{{ displayMonth }}</option>
			</select>
			<button (click)="changeMonth(1)" class="buttonFull">→</button>
		</div>
		<hr/>
		<div class="topDisplay">
			<button (click)="changeMonth(-12)" class="buttonFull">←</button>
			<input [value]="currentDate.getFullYear()" (change)="onYearChange($event)" class="year-input" />
			<button (click)="changeMonth(12)" class="buttonFull">→</button>
		</div>
		<div class="topDisplay" *ngIf="!isCurrentDate(referenceDate)">
			<button (click)="changeToCurrentDay()" class="buttonGhost">Go To Current Day</button>
		</div>
	  </div>
	</div>
	<div class="weekdays">
	  <div *ngFor="let day of weekdays" class="weekday">{{ day }}</div>
	</div>
	<div class="calendar">
	  <div *ngFor="let week of calendar" class="calendar-week">
		<div *ngFor="let day of week" class="calendar-day" [style.height.px]="computedHeight" >
			<div class="calendar-top-bar" [ngClass]="{'today': day.toLocaleDateString() == referenceDate.toLocaleDateString()}">
				<span class="calendar-number" *ngIf="day.toLocaleDateString() != referenceDate.toLocaleDateString()">{{ formatDay(day) }}</span>
				<span   *ngIf="day.toLocaleDateString() == referenceDate.toLocaleDateString()">{{ day.toLocaleDateString() }} &nbsp; <i>Today</i></span>
				<span ngbDropdown placement="top-end" class="d-inline-block">
					<button id="dropdownBasic2" ngbDropdownToggle></button>
					<div ngbDropdownMenu aria-labelledby="dropdownBasic2">
						<button ngbDropdownItem (click)="createUpdateEventModal(addUpdateEvent, day)" class="dropDownItem">Add Event</button>
					</div>
				</span>
			</div>
			<div style="display: flex; justify-content: center;">
				<div style="height: 3px; border-radius: 5px; width: 95%; background-color: rgb(73, 70, 70);"></div>
			</div>
			<div class="calendarEventsForDay" [style.height.px]="computedHeight - 29.5">
				<div *ngFor="let event of events">
					<div *ngIf="checkEventDay(event, day)">
						<div class="event">
							<div class="btn-group me-3 block">
								<div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown" class="event" [ngStyle]="{ 'background-color': event.color }" ngbDropdown container="body">
									<div *ngIf="event.startTime">
										<span>{{event.startTime}} - {{event.endTime}}</span>
										<hr style="margin: 0;"/>
									</div>
									<div style="display: flex; justify-content: space-between;">
										<button type="button" class="eventTitle" (click)="openEventModal(content, event)">{{event.title}}</button>
										<button type="button" class="buttonGhost dropdown-toggle-split" ngbDropdownToggle></button>
									</div>
									<div class="dropdown-menu" ngbDropdownMenu>
										<button ngbDropdownItem class="dropDownItem" (click)="createUpdateEventModal(addUpdateEvent, day, event)">Edit</button>
										<div class="dropdown-divider"></div>
										<button ngbDropdownItem class="dropDownItem" (click)="removeEvent(event)">Delete</button>
									</div>
								</div>
							</div>
							<div class="eventDesc" *ngIf="range <= 3">
								<hr style="margin: 0; margin-bottom: 5px;"/>
								{{event.description}}
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	  </div>
	</div>
	<div class="topDisplay" >
		<input type="number" min="1" max="5" [value]="range" (change)="onRangeChange($event)" class="year-input"/>
	  </div>
  </div>