<ng-template #CreateGoalModal let-modal>
	<div class="modal-header text-black">
		Add Goal
	</div>
	<div class="modal-body text-black">
		<form [formGroup]="goalForm">
			<div class="goalFormContainer">
				<div class="topGoalContainer">
					<div class="topGoalInput">
						<input placeholder="Title" id="title" formControlName="title" style="width: 100%;"/>
					</div>
					<div class="topGoalInput">
						<textarea placeholder="Main Objective" id="mainObjective" formControlName="mainObjective" style="width: 100%;"></textarea>
					</div>
					<div class="topGoalInput" >
						<label for="targetDate" >Target Date:</label>
						<input id="targetDate" type="date" formControlName="targetDate">
					</div>
				</div>
	
				<div formArrayName="subGoals">
					<div *ngFor="let subGoal of subGoals.controls; let i = index" class="subGoalContainer">
						<div [formGroupName]="i">
						<div>
							<input id="subGoalTitle{{i}}" formControlName="title" placeholder="Sub-Goal Title" style="width: 100%;">
						</div>
						<hr/>
						<div class="subGoalInputContainer">
							<label for="currentValue{{i}}">Current Value:</label>
							<input class="subGoalInputForm" id="currentValue{{i}}" type="number" formControlName="currentValue">
						</div>
						<div class="subGoalInputContainer">
							<label for="targetValue{{i}}">Target Value:</label>
							<input class="subGoalInputForm" id="targetValue{{i}}" type="number" formControlName="targetValue">
						</div>
						<div class="subGoalInputContainer">
							<label for="unit{{i}}">Unit:</label>
							<input class="subGoalInputForm" id="unit{{i}}" formControlName="unit" placeholder="lbs, $, quid, etc">
						</div>
						<div class="topGoalInput">
							<button type="button" (click)="removeSubGoal(i)" class="btn btn-danger">Remove Sub-Goal</button>
						</div>
						</div>
					</div>
					</div>
					<div class="topGoalInput">
					<button type="button" (click)="addSubGoal()" class="buttonFull">Add Sub-Goal</button>
				</div>
				
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn btn-primary" [disabled]="checkValidation()" (click)="onSubmit()">Submit</button>

		<button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
	</div>
</ng-template>
<!-- goals.component.html -->

<div class="goalsContainer" *ngIf="goals">
	<div class="goalsBody">
		<div class="goalsChild">
			<h2>Goals List</h2>
		</div>
		<div class="goalsContainer">
			<hr style="width: 66%;"/>
		</div>
		<div *ngIf="goals.length === 0" class="goalsChild">
			<p>No goals available.</p>
		</div>
	
		<div *ngIf="goals.length > 0" class="goalsChild">
			<div *ngFor="let goal of goals" class="goal">
				<div style="display: flex; justify-content: space-between;">
					<h3>{{ goal.title }}</h3>
					<div ngbDropdown class="d-inline-block">
						<button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle></button>
						<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
							<button ngbDropdownItem class="dropDownItem" (click)="openCreateEditGoalModal(CreateGoalModal)">Edit</button>
							<div class="dropdown-divider"></div>
							<button ngbDropdownItem class="dropDownItem dropDownRemove" (click)="removeGoal(goal)">Remove</button>
						</div>
					</div>
				</div>
				<p>Main Objective: {{ goal.mainObjective }}</p>
				<p>Target Date: {{ goal.targetDate }}</p>
		
				<h4>Sub-Goals:</h4>
				<ul>
					<li *ngFor="let subGoal of goal.subGoals">
					{{ subGoal.title }}: <input class="subGoalInput" type="number" value="{{ subGoal.currentValue }}" max="{{subGoal.targetValue}}"/> / <input class="subGoalInput" type="number" value="{{ subGoal.targetValue }}" min="{{ subGoal.currentValue }}"/> {{ subGoal.unit }} ({{(subGoal.currentValue / subGoal.targetValue) * 100}}%)
					</li>
				</ul>
			</div>
		</div>
		
		<div *ngIf="goals.length > 0" class="goalsChild">
			<div class="goalProgressSummary">
				<h3>Progress Summary</h3>
				<p>{{ progressSummary }}</p>
			</div>
		</div>
	</div>
</div>
<div class="goalsChild">
	<button class="buttonFull" (click)="openCreateEditGoalModal(CreateGoalModal)">Create Goal</button>
</div>
